* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#container {
  width: 50%;
  height: 100vh;
}

#gennaio {
  width: 95%;
  height: 95vh;
  margin: 10px;
}

#gennaio div {
  width: 95%;
  margin-left: 10px;
}

.festa {
  color: red;
}

#titolo div, .tasti div {
  border: 1px solid black;
}

.tasti {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tasti div {
  width: 40%;
  height: auto;
}

/* .active {
  display: block!important;
}

.calendario {
  display: none;
} */
